* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #fefae0;
  margin: 0;
}

.disappear_header {
  width: 100%;
  height: 50px;
  /* background-color: #f4f6; */
}

.disappear_header > ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
  /* background-color: brown; */
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 100%;
  justify-content: space-around;
}

/* #one{
    background-color: rgb(214, 101, 101);
}

#two{
    background-color: rgb(88, 88, 187);
}

#three{
    background-color: green;
}

 #four{
    background-color: orange;
 }

 #five{
    background-color: violet;
 } */

.disappear_header > ul > li {
  color: black;
  height: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 1.3rem;
  font-weight: 800;
}

.disappear_header > ul > li:hover {
  cursor: pointer;
  /* background-color: #f5e999; */
}

header {
  width: 100%;
  height: 100px;
  background-color: #707e41;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header_container_main {
  width: 70%;
  height: 100px;
  /* background-color: rgb(252, 0, 0); */
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.logo {
  flex: 1;
  /* background-color: #DDA15E; */
}

.logo > img {
  height: 100px;
}

.nav_container {
  flex: 2;
  /* background-color: black; */
  padding: 0;
  margin: 0;
}

.nav_container > ul {
  height: 100%;
  width: 100%;
  /* background-color: chocolate; */
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}

.nav_container > ul > li {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
  flex: 1;
  height: 100px;
  line-height: 100px;
}

.nav_container > ul > li:hover {
  cursor: pointer;
  background-color: #5c663a;
}

#sign_in:hover {
  color: white;
}

.wrapper_header {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 70%;
  background-color: #ffbd71;
  border: solid 0.5px black;
  border-radius: 5px 5px 0px 0px;
  display: flex;
}

#h1 {
  flex: 3;
  line-height: 30px;
  padding-left: 20px;
}

#h2 {
  flex: 1;
  line-height: 30px;
  padding-left: 7px;
  border-left: solid 1px black;
}

.wrapper {
  height: 1100px;
  width: 70%;
  background-color: #fdce97;

  margin-right: auto;
  margin-left: auto;
  border-radius: 0px 0px 5px 5px;
  padding: 0;
  display: flex;
  border: solid 1px black;
  border-top: none;
  margin-bottom: 30px;
}

.content_main {
  flex: 3;
  border-radius: 5px;
  display: flex;
  /* background-color: gray; */
  flex-wrap: wrap;
  padding: 0;
  align-content: flex-start;
}

.event {
  padding: 0;
  margin: 0;
  height: calc(1100px / 3 - 0.8px);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 0.5px solid black;
  border-left: none;
  border-top: none;
}

.mainevent {
  width: calc(70% - 2px);
  /* background-color: aqua; */
}

.side_event1 {
  width: 30%;
  /* background-color: #707e41; */
  border-left: none;
}

.side_event2 {
  width: calc(50% - 1px);
  /* background-color: #c28121; */
}

.side_event3 {
  width: calc(50% - 1px);
  /* background-color: #d445b1; */
  border-left: none;
}

.side_event4 {
  width: calc(100% / 3 - 1px);
  /* background-color: #c54444; */
}

.side_event5 {
  width: calc(100% / 3 - 1px);
  /* background-color: #ec9191; */
}

.side_event6 {
  width: calc(100% / 3 - 1px);
  /* background-color: #a7fd6d; */
}

.content_side_right {
  padding: 0;
  flex: 1;
  background-color: rgb(5, 70, 70);
  background-color: #fdce97;
  /* border-left: solid 0.2px; */
}

.content_right_top_fill {
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 5px;
  height: 740px;
  background-color: #fdce97;
}

.content_right_top_fill > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.content_right_top_fill > ul > li {
  padding: 15px;
  border-bottom: solid 0.5px black;
}

.content_right_top_fill > ul > li:hover {
  cursor: pointer;
  background-color: #f7bd7c;
}

.event_upper_image {
  /* background-color: cornflowerblue; */
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.lower_title_and_tag {
  width: 100%;
  height: 50%;
  padding: 0;
  margin: 0;
}

.mainevent > .event_upper_image > img {
  height: 92%;
  width: 88%;
  border-radius: 5px;
}

.side_event1 > .event_upper_image > img {
  height: 92%;
  width: 88%;
  border-radius: 5px;
}

.side_event2 > .event_upper_image > img {
  height: 92%;
  width: 88%;
  border-radius: 5px;
}

.side_event3 > .event_upper_image > img {
  height: 92%;
  width: 88%;
  border-radius: 5px;
}

.side_event4 > .event_upper_image > img {
  height: 92%;
  width: 88%;
  border-radius: 5px;
}

.side_event5 > .event_upper_image > img {
  height: 92%;
  width: 88%;
  border-radius: 5px;
}

.side_event6 > .event_upper_image > img {
  height: 92%;
  width: 88%;
  border-radius: 5px;
}

.tag {
  display: inline-block;
  background-color: #96662f;
  border-radius: 5px;
  margin-left: 6%;
  margin-top: 6px;
  padding: 4px;
  text-align: center;
  color: white;
}

.title {
  margin-top: 6px;
  /* background-color: goldenrod; */
  width: 88%;
  margin-left: 6%;
}

.mainevent > .lower_title_and_tag > .title {
  font-size: 1.8rem;
}

.side_event1 > .lower_title_and_tag > .title {
  font-size: 1.4rem;
}

.side_event2 > .lower_title_and_tag > .title {
  font-size: 1.4rem;
}

.side_event3 > .lower_title_and_tag > .title {
  font-size: 1.4rem;
}

.side_event4 > .lower_title_and_tag > .title {
  font-size: 1.4rem;
}

.side_event5 > .lower_title_and_tag > .title {
  font-size: 1.4rem;
}

.side_event6 > .lower_title_and_tag > .title {
  font-size: 1.4rem;
}

.title:hover {
  cursor: pointer;
}

footer {
  width: 100%;
  height: 300px;
  line-height: 300px;
  text-align: center;
}
